@page
@using NonFactors.Mvc.Grid;
@model Pacient

@{
    ViewData["Title"] = "Пациенты";
}

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
<style>
    .working {
        background-color: #ecffec;
    }
</style>


<h1>@ViewData["Title"]</h1>

<p>Перечень пациентов и состояние передачи.</p>
@if (Model == null)
{
    <label>"Загрузка" +
        Model.Persons.count()
    </label>
}


@if (Model != null)
{
    <label>
        Всего передано 
        @Model.Persons.Count()
        успешно @Model.Persons.Where(p => p.successfully).Count().
        С ошибками (см. лог) @Model.Persons.Where(p => !p.successfully).Count()

    </label>

    @(
    Html.Grid(Model.Persons).Build(columns =>
                                                {
                                                    columns.Add(model => model.successfully).Titled("Успешно")
                                                            .RenderedAs(model => model.successfully == true ?
                                                                Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' checked />")
                                                                   : Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' />"));
                                                        columns.Add(model => model.IsVrach).Titled("Врач")
                                                                .RenderedAs(model => model.IsVrach == true ?
                                                                    Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' checked />")
                                                                       : Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' />"));
                                                        columns.Add(model => model.FamilyPerson).Titled("Фамилия");
                                                    columns.Add(model => model.NamePerson).Titled("Имя");
                                                    columns.Add(model => model.FathersPerson).Titled("Отчество");
                                                    columns.Add(model => model.DateChangePerson).Titled("Изменено");
                                                    columns.Add(model => model.birthDayPerson).Titled("Дата рождения").Formatted("{0:d}");
                                                    columns.Add(model => model.Sex_Person).Titled("Пол");
                                                    columns.Add(model => model.SnilsPerson).Titled("Снилс");
                                                    columns.Add(model => model.IdPromedPerson).Titled("Id в промед");
                                                    columns.Add(model => model.PersonLink).Titled("Guid");
                                                    columns.Add(model => model.DataCreatePerson).Titled("Создано");
                                                })
                                                .Using(GridFilterMode.Header)
                                                .Filterable()
                                                .Sortable()
                                                .Empty("Нет данных")
                                                .Pageable(pager =>
                                                {
                                                    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 50, "50" } };
                                                    pager.ShowPageSizes = false;
                                                    pager.PagesToDisplay = 4;
                                                    pager.CurrentPage = 1;
                                                    pager.RowsPerPage = 10;
                                                }).Using(GridFilterMode.Row)
                                                
                                                .AppendCss("table-hover")
                                                .Attributed(new { data_type = "individuals" })
                                                .RowAttributed(model => new { @class = model.successfully == true ? "working" : null, data_id = model.IDALL })

                    );
}



<script type="text/javascript" src="~/js/mvc-grid/mvc-grid_rus.js"></script>
<script type="text/javascript">
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>