@page
@using NonFactors.Mvc.Grid;
@using DevExtreme.AspNet.Mvc;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model Pacient

@{
    ViewData["Title"] = "Пациенты";
}

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
<style>
    .working {
        background-color: #ecffec;
    }
</style>


<h2>@ViewData["Title"]</h2>

<p>Перечень пациентов и состояние передачи.</p>
@if (Model == null)
{
    <label>"Загрузка" +
        Model.Persons.count()
    </label>
}


@if (Model != null)
{
    <label>
        Всего передано 
        @Model.Persons.Count()
        успешно @Model.Persons.Where(p => p.successfully).Count().
        С ошибками (см. лог) @Model.Persons.Where(p => !p.successfully).Count()

    </label>

@(Html.DevExtreme().DataGrid()
    .ID("gridContainer")
    .ShowBorders(true)
    .DataSource(Model.Persons)
    .KeyExpr("DocLink")
    .ShowBorders(true)
    .RemoteOperations(false)
    .AllowColumnResizing(true)
    .AllowColumnReordering(true)
    .RowAlternationEnabled(true)
     .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual))
    .FilterPanel(f => f.Visible(true))
    .HeaderFilter(h => h.Visible(true))
     .FilterRow(filterRow => filterRow
            .Visible(true)
            .ApplyFilter(GridApplyFilterMode.Auto)
        )
    .Columns(c =>
    {
        c.Add().DataField("successfully").Width(80).Caption("Успешно");
            c.Add().DataField("FamilyPerson").Caption("Фамилия").Width(110);
            c.Add().DataField("NamePerson").Caption("Имя").Width(110);
            c.Add().DataField("FathersPerson").Caption("Отчество");
            c.Add().DataField("DateChangePerson").Caption("Изменено").Width(135).DataType(GridColumnDataType.DateTime);
            c.Add().DataField("birthDayPerson").Caption("Дата рождения"); 
            c.Add().DataField("Sex_Person").Caption("Пол");
            c.Add().DataField("IdPromedPerson").Caption("Id в промед");
            c.Add().DataField("DataCreatePerson").Caption("Создано").Width(135).DataType(GridColumnDataType.DateTime); ;
            c.Add().DataField("PersonLink").Caption("Guid").Width(135);
        }
    )
    .MasterDetail(m => m
        .Enabled(true)
        .Template(new TemplateName("gridContainer-details"))
       )
)

    @using (Html.DevExtreme().NamedTemplate("gridContainer-details"))
    {
        @(Html.DevExtreme().TabPanel()
                    .Items(items =>
                    {
                        items.Add()
                            .Title("Лог приема/передачи")
                            .Template(new TemplateName("gridContainer-details-tab1Template"))
                                     .Option("tabExtras", new { PersonLink = new JS("data.PersonLink") });

                    })
                )
    }

    @using (Html.DevExtreme().NamedTemplate("gridContainer-details-tab1Template"))
    {
        @(Html.DevExtreme().DataGrid()
                        .ID(new JS("'gridContainer-orderHistoryGrid-' + tabExtras.PersonLink"))
                    .ShowBorders(true)
                    .DataSource(d => d.Mvc()
                            .Controller("..")
                            .LoadAction("Loganaliz")
                            .LoadParams(new { PersonLink = new JS("tabExtras.PersonLink") })
                            )
                    .Paging(p => p.PageSize(5))
                    .Columns(columns =>
                    {
                        columns.Add().DataField("ErrorSource").Caption("Источник").Width(200);
                        columns.Add().DataField("ErrorText").Caption("Текст"); 
                    })

                )
    }


   @* @(
    Html.Grid(Model.Persons).Build(columns =>
                                                {
                                                    columns.Add(model => model.successfully).Titled("Успешно")
                                                            .RenderedAs(model => model.successfully == true ?
                                                                Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' checked />")
                                                                   : Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' />"));
                                                        columns.Add(model => model.IsVrach).Titled("Врач")
                                                                .RenderedAs(model => model.IsVrach == true ?
                                                                    Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' checked />")
                                                                       : Html.Raw("<input type='checkbox' onclick='return false' name='Input.SelectedAccessRightsIds' value='" + model.IDALL + "' />"));
                                                        columns.Add(model => model.FamilyPerson).Titled("Фамилия");
                                                    columns.Add(model => model.NamePerson).Titled("Имя");
                                                    columns.Add(model => model.FathersPerson).Titled("Отчество");
                                                    columns.Add(model => model.DateChangePerson).Titled("Изменено");
                                                    columns.Add(model => model.birthDayPerson).Titled("Дата рождения").Formatted("{0:d}");
                                                    columns.Add(model => model.Sex_Person).Titled("Пол");
                                                    columns.Add(model => model.SnilsPerson).Titled("Снилс");
                                                    columns.Add(model => model.IdPromedPerson).Titled("Id в промед");
                                                    columns.Add(model => model.PersonLink).Titled("Guid");
                                                    columns.Add(model => model.DataCreatePerson).Titled("Создано");
                                                })
                                                .Using(GridFilterMode.Header)
                                                .Filterable()
                                                .Sortable()
                                                .Empty("Нет данных")
                                                .Pageable(pager =>
                                                {
                                                    pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 50, "50" } };
                                                    pager.ShowPageSizes = false;
                                                    pager.PagesToDisplay = 4;
                                                    pager.CurrentPage = 1;
                                                    pager.RowsPerPage = 10;
                                                }).Using(GridFilterMode.Row)
                                                
                                                .AppendCss("table-hover")
                                                .Attributed(new { data_type = "individuals" })
                                                .RowAttributed(model => new { @class = model.successfully == true ? "working" : null, data_id = model.IDALL })

                    );*@
}



<script type="text/javascript" src="~/js/mvc-grid/mvc-grid_rus.js"></script>
<script type="text/javascript">
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>